<%= form_with(model: mother, local: true) do |form| %>
  <% if mother.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mother.errors.count, "error") %> prohibited this mother from being saved:</h2>

      <ul>
      <% mother.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :mother_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :mother_last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :mother_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
